#landing {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.landingBtns {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 387px;
  min-height: 60px;
  background: #62a1eb;
  border-radius: 8px;
  cursor: pointer;
}

.landingBtns:hover {
  transform: scale(0.99);
}

#landingImgResponsive {
  display: none;
}

@media screen and (max-width: 390px) {
  #landingImg {
    display: none;
  }

  #landingImgResponsive {
    display: block;
    width: 80vw;
  }

  .landingBtns {
    width: 300px;
  }
}
