.laptopCard {
  display: flex;
  background-color: #eafaff;
  border-radius: 8px;
  border: 1px solid #aed1ea;
  gap: 1vw;
  padding: 0.8vw;
  width: 100%;
}

.laptopImg {
  width: 60%;
  border-radius: 8px;
  object-fit: cover;
}

.laptopInfo {
  background-color: #eafaff;
  width: 40%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardP {
  padding: 0.7vw;
  font-weight: 700;
}

.laptopInfo a {
  color: #4386a9;
  padding: 0.8vw;
}

@media screen and (max-width: 390px) {
  .cardP {
    font-size: 3.8vw;
  }

  .laptopCard {
    width: 358px;
    height: 128px;
  }
}
