#header {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2vw;
}

.page {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-size: 1.5vw;
}

.activePage {
  text-decoration: underline;
  text-underline-offset: 1vw;
}
