#addUserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: auto;
  padding-bottom: 5vw;
  gap: 2vw;
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  gap: 2vw;
  width: 100%;
  padding: 2vw 8vw;
  border-radius: 0.7vw;
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  background-color: #fff;
  width: 100%;
}

.textInputs {
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}

.inputGroup,
label,
input,
.additionalInfo,
li {
  background-color: #fff;
}

.additionalInfo {
  color: rgba(0, 0, 0, 0.486);
}

label {
  font-weight: 700;
}

.inputGroup {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
}

.inputGroup-2 {
  width: 100%;
}

.textInputs-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5vw;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  height: 40px;
  border-radius: 8px;
  border-color: #62a1eb;
  padding: 10px;
}

select {
  width: 100%;
  height: 60px;
  font-weight: 700;
  border-radius: 8px;
  border-color: #62a1eb;
  padding: 5px;
}

select option {
  background-color: #fff;
}

.nextButton {
  background: none;
  border: none;
  color: #fff;
  background: #62a1eb;
  border-radius: 8px;
  padding: 10px;

  align-self: flex-end;
}

.nextButton:hover {
  cursor: pointer;
  transform: scale(0.99);
}

#backButton {
  position: absolute;
  left: 6vw;
  top: 4vw;
  font-size: 25px;
  color: #000;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -webkit-appearance: textfield;
}

.errorText {
  background-color: #fff;
  color: rgb(180, 61, 61);
  word-wrap: break-word;
  width: 100%;
}

.selects p {
  padding-top: 10px;
}

@media screen and (max-width: 390px) {
  #addUserInfo {
    width: 100%;
  }

  .textInputs {
    flex-direction: column;
    margin-top: 20px;
  }

  .textInputs-2 {
    gap: 20px;
  }

  .inputGroup {
    width: 100%;
  }

  .additionalInfo {
    word-wrap: wrap;
  }

  .inputFields {
    padding: 10px 35px;
  }

  #backButton {
    left: 5vw;
    top: 9vw;
  }
}
