#addUserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 50px auto;
  gap: 40px;
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  gap: 40px;
  width: 100%;
  padding: 50px 150px;
  border-radius: 8px;
}

#selects {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  width: 100%;
}

.textInputs {
  background-color: #fff;
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputGroup,
label,
input,
.additionalInfo,
li {
  background-color: #fff;
}

.additionalInfo {
  color: rgba(0, 0, 0, 0.486);
}

label {
  font-weight: 700;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.textInputs-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

input[type='text'],
input[type='email'],
input[type='number'],
select {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border-color: #62a1eb;
  padding: 5px;
}

.inputGroup-2 input {
  width: 100%;
}

select {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
}

select option {
  background-color: #fff;
}

.nextButton {
  background: none;
  border: none;
  color: #fff;
  background: #62a1eb;
  border-radius: 8px;
  width: 110px;
  height: 40px;
  align-self: flex-end;
}

.nextButton:hover {
  cursor: pointer;
  transform: scale(0.99);
}

#backButton {
  position: fixed;
  left: 80px;
  top: 50px;
  font-size: 25px;
  color: #000;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.errorText {
  background-color: #fff;
  color: rgb(180, 61, 61);
  word-wrap: break-word;
  width: 100%;
}

#selects p {
  padding-top: 10px;
}
