#laptopContainer {
  background-color: #fff;
  width: 100%;
}

#userInformation {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}

#userInfoTable {
  width: 26vw;
}

.laptopInfoTable {
  width: 20.9vw;
}

#additionalInfo {
  width: 55vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}

#userInfoTable tr td,
.laptopInfoTable tr td {
  padding: 0.9vw 0;
}

#laptopImg {
  width: 26.3vw;
  border-radius: 8px;
  object-fit: contain;
}

hr {
  width: 55vw;
  margin: 2vw auto;
}

#laptopInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 13vw;
}

@media screen and (max-width: 390px) {
  #laptopImg {
    width: 90%;
  }

  #userInformation,
  #laptopInfo,
  #additionalInfo {
    flex-direction: column;
  }

  #userInfoTable,
  #laptopInfo,
  .laptopInfoTable,
  #additionalInfo {
    width: 95%;
  }

  #laptopInfo {
    align-items: center;
    gap: 0;
  }

  hr {
    width: 95%;
  }

  tbody tr {
    margin-top: 10px;
  }

  table {
    table-layout: fixed;
  }

  td:first-child {
    width: 210px !important;
  }
}
